{% extends 'base.html.twig' %}

{% block title %}TP1 Ex1 Q1{% endblock %}

{% block body %}
    <h1>Date et heure avec Twig</h1>
    <p>{{ date_heure }}</p>
    
    <h2>Alternative PHP seule</h2>
    <a href="{{ path('app_tp1_ex1_q1_php') }}">Voir la version PHP seule</a>
{% endblock %}